@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@font-face {
  font-family: "Quicksand";
  src: url("/public/Fonts/Quicksand-Regular.woff") format("woff");
}
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Colors */
  --color-mainBlue: #00b9ff;
  --color-mainWhite: #ffffff;
  --color-mainBlack: #000000;
  --color-mainVanilla: #fffa8d;
  /* Fonts */
  --font-electrolize: "Electrolize", "sans-serif";
  --font-zenDots: "Zen Dots", "sans-serif";
  --font-quicksand: "Quicksand", "sans-serif";
}
